@page "/"
@inject IJSRuntime jsRuntime


<title>Html-Qrcode Demo</title>
<div id="qr-reader" style="width:500px"></div>
<br />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Mensaje de codigos QR</th>
        </tr>
    </thead>
    <tbody>
        @foreach (string text in resultadosQR)
        {

            <tr>
                <td>-</td>
                <td>@text</td>
            </tr>
        }
    </tbody>
</table>
@*<ul>
    @foreach (string text in resultadosQR)
    {
        <li>@text</li>
    }
</ul>*@


@code{
    private string[] resultadoQR;
    List<string> resultadosQR = new List<string>();
    protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {

            var dotNetReference = DotNetObjectReference.Create(this);
            jsRuntime.InvokeVoidAsync("BlazorUniversity.prueba", dotNetReference);
        }
    }
    [JSInvokable("resultado")]
    public void AddTextToTextHistory(string text)
    {
        resultadosQR.Add(text.ToString());
        StateHasChanged();
        System.Diagnostics.Debug.WriteLine("DotNet: Received " + text);
    }
}