@page "/lectorQr"

<h3>LectorQR</h3>
<div class="container">
    <div class="titulo">
        <span>QR Code Scanner</span>

    </div>

    <div class="gif">
        <br>
        <img width="64" src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/assets/camera-scan.gif" style="opacity: 0.3;">

    </div>

    <div class="botonCamara">
        <div class="botonCamara2">
            <div>
                <div style="display: block;">
                    <div style="text-align: center;">
                        <select>
                            <option value="1">Camara 1</option>
                            <option value="2">Camara 2</option>
                        </select>
                        <button>Start Scan</button>
                    </div>
                </div>
                <div>
                    <br />
                    <br />
                    <div  style="text-align: center; display: grid">
                        <input id="qr-reader__filescan_input" accept="image/*" type="file" disabled="" style="width: 200px;">
                        <a id="qr-reader__dashboard_section_swaplink" href="#scan-using-file" style="text-decoration: underline;">Scan an Image File</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@code {

}
